config/genesis.ssz
config/genesis.ssz.json
consensus/beacondata
consensus/validatordata
consensus/beacondata-lighthouse
consensus/beacondata-lighthouse2
consensus/validatordata-lighthouse
execution/geth
execution/geth.ipc
execution/sk.json
execution2/geth
execution2/geth.ipc
#lighthouse/validator_keys*
blockscout/blockscout-db-data
blockscout/stats-db-data
blockscout/redis-data
blockscout/logs
blockscout/tmp
blockscout/postgres-data
output
config/boot_enr.txt
config/bootstrap_nodes.txt
config/chainspec.json
config/config.yaml
config/deploy_block.txt
config/deposit_contract_block_hash.txt
config/deposit_contract_block.txt
config/deposit_contract.txt
config/genesis_validators_root.txt
config/genesis.ssz
config/parsedBeaconState.json
config/tranche_0000.txt
.DS_Store
deploy-contracts/artifacts
deploy-contracts/cache
deploy-contracts/node_modules
deploy-contracts/yarn.lock
deploy-contracts/package-lock.json
deploy-contracts/deploy_output.txt
genesis-generator/values.env-e
config/genesis.json-e
ttd_time.txt