config/genesis.ssz
config/genesis.ssz.json
consensus/beacondata
consensus/validatordata
consensus/beacondata-lighthouse
consensus/validatordata-lighthouse
execution/geth
execution/geth.ipc
execution/sk.json
lighthouse/validator_keys
blockscout/blockscout-db-data
blockscout/stats-db-data
blockscout/redis-data
blockscout/logs
blockscout/tmp
blockscout/postgres-data
.DS_Store